@model BaiTapA.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Attending";
}

<div class="row pt-3">
    <ul class="list-group">
        @foreach (var i in Model.UpcomingCourses)
        {
            <li class="list-group-item course position-relative mb-4 border-0">
                <div class="text-center text-white rounded" style="background-color: #d41d50; width: 60px;">
                    <div class="month">
                        @i.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @i.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details position-absolute" style="top:4px; left: 100px;">
                    <span class="lecturer">
                        @i.Lecturer.Name
                        @if (Model.ShowAction)
                        {
                            <button class="btn btn-secondary btn-sm js-toggle-follow ms-2" data-user-id="@i.LecturerId">Follow</button>

                        }
                    </span>
                    <br />
                    <span class="category">
                        @i.Category.Name
                        @if (Model.ShowAction)
                        {
                            <button data-course-id="@i.Id" class="btn btn-secondary btn-sm js-toggle-attendance ms-1">Going?</button>
                        }
                    </span>
                </div>
            </li>
        }
    </ul>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                const button = $(e.target);
                $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                    .done(function () {
                        if (button.hasClass("btn-secondary")) {
                            button
                                .removeClass("btn-secondary")
                                .addClass("btn-info")
                                .text("Going");
                        }
                        else {
                            button
                                .removeClass("btn-info")
                                .addClass("btn-secondary")
                                .text("Going?");
                        }
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });

            $(".js-toggle-follow").click(function (e) {
                const button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });
        });

    </script>
}