@model IEnumerable<BaiTapA.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul>
        @foreach(var i in Model)
            {
                <li class="list-group-item course position-relative mb-4 border-0">
                    <div class="text-center text-white rounded" style="background-color: #d41d50; width: 60px;">
                        <div class="month">
                            @i.DateTime.ToString("MM")
                        </div>
                        <div class="day">
                            @i.DateTime.ToString("dd")
                        </div>
                    </div>
                    <div class="details position-absolute" style="top:13px; left: 90px;">
                        <span class="lecturer">
                            @i.Lecturer.Name
                            <button class="btn btn-primary btn-sm js-toggle-follow" data-user-id="@i.LecturerId">Follow</button>
                        </span>
                        <span class="category">
                            @i.Category.Name
                        </span>
                        <button data-course-id="@i.Id" class="btn btn-secondary btn-sm js-toggle-attendance">Going ?</button>
                    </div>
                </li>
            }
    </ul>

    @section scripts
    {
        <script>
            $(document).ready(function () {
                $(".js-toggle-attendance").click(function (e) {
                    var button = $(e.target);
                    $post("/api/attendances", { courseId: button.attr("data-course-id") })
                        .done(function () {
                            button
                                .removeClass("btn-secondary")
                                .addClass("btn-info")
                                .text("Going")
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                });
                $(".js-toggle-follow").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                        .done(function () {
                            button.text("Following");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                });
            });
        </script>
    }
</div>